<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/admin/shared/layout::dynamic(~{::view})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Admin</title>
</head>
<div th:fragment="view">
    <div class="alert alert-secondary">
     ORDER MANAGEMENT
     <i class="float-end text-danger" th:text=${message}></i> 
    </div>
    <hr th:replace="/admin/order/_statuses">
    <!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a th:classappend="${edit?'active':''}" class="nav-link" data-bs-toggle="tab" href="#edit">
        <i class="bx bxs-edit"></i>EDIT ORDER
      </a>
    </li>
    <li class="nav-item">
      <a th:classappend="${edit?'':'active'}" class="nav-link" data-bs-toggle="tab" href="#list">
        <i class="bx bx-list-ol"></i> LIST OF ORDERS
      </a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div th:classappend="${edit?'active':'fade'}" class="tab-pane" id="edit">
        <div th:replace="/admin/order/_form"></div>
    </div>
    <div th:classappend="${edit?'fade':'active'}" class="tab-pane" id="list">
        
            <div th:replace="/admin/order/_table"></div>
        </div>
    </div>
  </div>
   
</html>
